body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
}

/* Header */
header {
    background-color: lightblue;
    padding: 2px 100px;
    box-sizing: border-box;
    height: auto;
}

/* Flex Nav */
header .flex-container {
    display: flex;
    justify-content: space-between;
}

header .flex-container .logo h3 {
    /* Logo */
    color: blue;
}

header .flex-container nav ul {
    /* Flex the nav */
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

header .flex-container nav ul li {
    text-decoration: none;
    list-style: none;
}

header .flex-container nav ul li a {
    text-decoration: none;
    color: #000;
}

header .flex-container nav ul li a:hover {
    text-decoration: underline;
}

header .flex-container .btn-inline {
    display: flex;
    gap: 10px;
    align-items: center;
}

header .flex-container .btn-inline a {
    display: block;
    text-decoration: none;
}

header .flex-container .btn-inline .btn-login a {
    color: #222;
    border: 1px solid blue;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

header .flex-container .btn-inline a:hover{
    background-color: rgba(90, 162, 255, 0.8);
}

header .flex-container .btn-inline .btn-sign a {
    color: #fff;
    background-color: blue;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 80px;
    text-align: center;
    font-weight: light;
    cursor: pointer;
}

header .flex-container .btn-inline .btn-sign a:hover{
    background-color: rgba(0, 0, 255, 0.3);
}

/* Hero Section */
header .hero .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    padding: 5px;
}

header .hero .grid-container .grid-item {
    width: 670px;
}

header .hero .grid-container .grid-item h1 {
    font-size: 50px;
}

header .hero .grid-container .grid-item h1 span {
    color: blue;
}

header .hero .grid-container .grid-item .txt {
    font-size: 12px;
    display: inline;
}

header .hero .grid-container .grid-item .input {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    position: relative;
    top: 25px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}

header .hero .grid-container .grid-item .input a {
    text-decoration: none;
    color: #222;
    font-size: 0.9rem;
}

header .hero .grid-container .grid-item .semi-circle {
    width: 600px;
    background-color: rgba(84, 84, 233, 0.616);
    height: 600px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    top: 40px;
    bottom: 20px;
    right: 10px;
}

section .header-bottom {
    background-color: blue;
    height: auto;
    position: relative;
    bottom: 250px;
    z-index: 2;
    padding: 10px;
    box-sizing: border-box;
}

section .header-bottom .flex-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 15px 100px;
    color: #fff;
}

section .header-bottom .flex-container .flex-item {
    text-align: center;
    border-right: 1px solid #fff;
    padding: 2px 20px;
    box-sizing: border-box;
    height: 100px;
}

section .header-bottom .flex-container .flex-item p {
    font-size: 15px;
}

/* Mr Micheal Work and Correction */
section .header-bottom .flex-container .flex-item div:last-child {
    position: relative;
    bottom: 10px;
}

/* Style the Image Later */
section .doctor {
    z-index: 5;
    position: relative;
    bottom: 748px;
    left: 920px;
    display: inline;
}

/* Doctor Image */
section .doctor img {
    height: 500px;
    /* width: 100; */
}

/* Main Section */
.main-section {
    padding: 20px;
    position: relative;
    bottom: 755px;
    z-index: 3;
    background-color: #fff;
}

.main-section .grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}

.main-section .grid-container .card {
    width: 300px;
    height: auto;
    margin-top: 20px;
    position: relative;
    bottom: 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    padding: 20px 50px;
    border-radius: 20px;
    line-height: 0.9;
}

.main-section .grid-container .card:hover{
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.grid-container2 {
    display: flex;
    margin-top: 10px;
    position: relative;
    right: 80px;
    padding: 10px 80px;
}

.grid-container2 .item .img {
    width: 700px;
    height: 300px;
    background-image: url(../asset/image/doctors_pic2.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.grid-container2 .item .rem {
    padding: 20px;
}

.grid-container2 .item .rem ul li {
    line-height: 2;
    list-style: circle;
}

.grid-container2 .item .link {
    padding: 10px 50px;
}

.grid-container2 .item .link a {
    text-decoration: none;
    color: #333;
}

/* Responsive */